.middle {
	.spisok2 {
		margin: 0px 0px 50px 0px;
	}
	li {
		position: relative;
		margin: 0px 0px 15px 0px;
	}
	li:first-child {
		font-weight: bold;
	}
	li::before {
		position: absolute;
		width: 24px;
		height: 24px;
		content: "";
		background: url("../img/icons/check_icon_38.png") no-repeat;
		top: $otsup;
		left: $otsupL;
	}
	li:hover {
		color: red;
		&:before {
			position: absolute;
			height: 25px;
			width: 25px;
			content: "";
			background: url("../img/icons/check_icon_95.png") no-repeat;
		}
	}
	.btn {
		display: inline-block;
background: url('/img/icons/shape_2.png')189px 16px no-repeat;
		width:255px;
		height: 50px;
		content: "";
		background-color: #80b7b3;
		line-height: 40px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		font-size: 14px;
		text-align: center;
		border-radius: 20px;
		padding: 3px 0px 0px 0px;
		margin: 0px 0px 50px 0px;
		text-transform: uppercase;
		position: relative;
		font-size:16px;
	}
	.content {
	}
	.spisok1 {
	}
	.middle {
	}
	.list {
	}
	.spisok2 {
	}
	.btn {
	}
	.bottom {
	}
	.text {
	}

	flex-grow: df;
	-moz-float-edge: fdg;